# 測試帳號:admin
# 測試密碼:123

SERIAL_PORT=/dev/cu.usbserial-02P5ZR1M
BAUD_RATE = 115200
SECRET_KEY="0m53giP7Tadddni8czyOTZW4BYrk7t9X_PHuWORpzyg"
ALGORITHM="HS256"

# JWT 過期時間 (秒)，預設 604800 秒 (7天)
ACCESS_TOKEN_EXPIRE_SECONDS=604800