annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
fastapi==0.129.2
h11==0.16.0
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
pydantic==2.12.5
pydantic_core==2.41.5
pyserial==3.5
paho-mqtt==2.1.0
httpx==0.28.1
python-dotenv==1.2.1
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.41.0
aiosqlite==0.22.1
bcrypt==5.0.0
cffi==2.0.0
colorama==0.4.6
cryptography==46.0.5
ecdsa==0.19.1
iso8601==2.1.0
orjson==3.11.7
passlib==1.7.4
pyasn1==0.6.2
pycparser==3.0
pypika-tortoise==0.6.3
python-jose==3.5.0
python-multipart==0.0.22
rsa==4.9.1
six==1.17.0
tortoise-orm==1.1.5
tzdata==2025.2
